.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.center {
  font-size: 8em;
  font-weight: 700;
  color: white;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: aqua;
}

@media only screen and (max-width: 1000px) {
  .center {
    font-size: 6em
  }
}

@media only screen and (max-width: 780px) {
  .center {
    font-size: 5em
  }
}

@media only screen and (max-width: 540px) {
  .center {
    font-size: 4em
  }
}

@media only screen and (max-width: 440px) {
  .center {
    font-size: 2em
  }
}